<div class="component__inner narrativeaudio__inner">

  {{> component this}}

  <div class="component__widget narrativeaudio__widget{{#if _hasNavigationInTextArea}} narrativeaudio__text-controls{{/if}}">

    <div class="narrativeaudio__content">
      <div class="narrativeaudio__content-inner">

        {{#each _items}}
        <div class="narrativeaudio__content-item{{#if _isVisited}} is-visited{{/if}}" data-index="{{@index}}">

          {{#if title}}
          <div class="narrativeaudio__content-title">
            <div class="narrativeaudio__content-title-inner" {{a11y_attrs_heading 'componentItem'}}>
              {{{title}}}
            </div>
          </div>
          {{/if}}

          {{#if _graphic.alt}}{{{a11y_aria_image _graphic.alt}}}{{/if}}

          {{#if body}}
          <div class="narrativeaudio__content-body">
            <div class="narrativeaudio__content-body-inner">
              {{{compile body}}}
                
                 {{#if audio}}
                            <div class="narrativeaudio-content-audio">
                             <audio id="audio-{{@index}}" controls style="width:100%;">
                                <source src="{{audio}}" type="audio/mpeg">
                                Your browser does not support the audio element.
                             </audio> 
                            </div>
                            {{/if}}
                
            </div>
              
          </div>
          {{/if}}

        </div>
        {{/each}}

        <div class="narrativeaudio__controls-container u-clearfix">

          <button data-direction="left" class="btn-icon narrativeaudio__controls narrativeaudio__controls-left js-narrativeaudio-controls-click" aria-label="{{_globals._accessibility._ariaLabels.previous}}">
            <div class="icon"></div>
          </button>

          <div class="narrativeaudio__indicators">
            {{#each _items}}
            <div class="narrativeaudio__progress js-narrativeaudio-progress-click{{#if _isVisited}} is-visited{{/if}}" data-index="{{@index}}"></div>
            {{/each}}
          </div>

          <button data-direction="right" class="btn-icon narrativeaudio__controls narrativeaudio__controls-right js-narrativeaudio-controls-click" aria-label="{{_globals._accessibility._ariaLabels.next}}">
            <div class="icon"></div>
          </button>
        </div>

      </div>
    </div>

    <div class="narrativeaudio__strapline">

      <div class="narrativeaudio__strapline-header">
        <div class="narrativeaudio__strapline-header-inner u-clearfix" style="width: {{_totalWidth}}%">

          {{#each _items}}
          <button class="narrativeaudio__strapline-btn js-narrativeaudio-strapline-open-popup{{#if _isVisited}} is-visited{{/if}}" aria-label="{{{strapline}}}" style="width: {{../_itemWidth}}%" data-index="{{@index}}">

            <div class="narrativeaudio__strapline-title">
              <div class="narrativeaudio__strapline-title-inner">
                {{{strapline}}}
              </div>
            </div>

            <div class="btn-icon narrativeaudio__strapline-icon">
              <div class="icon"></div>
            </div>

            <div class="focus-rect"></div>

          </button>
          {{/each}}

        </div>
      </div>

    </div>

    <div class="narrativeaudio__slide-container">

      <button data-direction="left" class="btn-icon narrativeaudio__controls narrativeaudio__controls-left js-narrativeaudio-controls-click" aria-label="{{_globals._accessibility._ariaLabels.previous}}">
        <div class="icon"></div>
      </button>

      <button data-direction="right" class="btn-icon narrativeaudio__controls narrativeaudio__controls-right js-narrativeaudio-controls-click" aria-label="{{_globals._accessibility._ariaLabels.next}}">
        <div class="icon"></div>
      </button>

      <div class="narrativeaudio__slider u-clearfix" style="width: {{_totalWidth}}%">

        {{#each _items}}
        <div class="narrativeaudio__slider-image-container{{#if _isVisited}} is-visited{{/if}}{{#if _graphic.attribution}} has-attribution{{/if}}" style="width: {{../_itemWidth}}%" data-index="{{@index}}">

          <img class="narrativeaudio__slider-image" src="{{_graphic.src}}" aria-hidden="true">

          {{#if _graphic.attribution}}
          <div class="component__attribution narrativeaudio__attribution">
            <div class="component__attribution-inner narrativeaudio__attribution-inner">
              {{{_graphic.attribution}}}
            </div>
          </div>
          {{/if}}

        </div>
        {{/each}}

      </div>

    </div>

    <div class="narrativeaudio__indicators narrativeaudio__slide-indicators">

      {{#each _items}}
      <div class="narrativeaudio__progress js-narrativeaudio-progress-click{{#if _isVisited}} is-visited{{/if}}" data-index="{{@index}}"></div>
      {{/each}}

    </div>

  </div>
</div>
